body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(4, 5, 8, 0.904)!important;
}

.cuadrado_1 {
  position: relative;
  width: 100%;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0px 0px 0px 0px;
  transition: .5s;
}

.cuadrado_2 {
  position: relative;
  width: 100%;
  padding: 30px 20px 18px 20px;
}

/* Img Portada */
section img{
width: 100%;
height: 280px;

}

/* Movies */
.movigroup {
display: grid;
grid-template-rows: 16px 100px;
}

.eachmovie{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.cat-title {
  color: white;
  font-size: 1.3em;
  font-weight: 510;
  margin: 0.9rem 0rem 0.6rem 1.8rem;
}
.line-movies{
  display: inline-flex;
  margin: 0em 1em 0 1em;
  padding: 0.5rem;
}

.ext:hover{
  display: grid;
  grid-template-rows: 70% 25%;
  justify-content: center;
  background-color: red;
  height: 140%;
  width: 19em;
  transform: scale(1.09);
  border-radius: 8px 8px 0px 0px ;
}

.hidenext{
  visibility: hidden;
}

.movies {
  width: 19em;
  height: 11rem;
  border-radius: 8px 8px 0px 0px ;
  background-color: black;
  color: white;
  font-weight: 546;
}

.movies:hover {
  border: 1px solid #000;
  transition: .3s;
/*   transform: scale(1.09); */
}


/*Footer*/
footer{
  text-align: center;
  background:#0a0a0a6e;
  margin-top: 30px;
  color: white;
}

footer h1,p{
  color: white;
  padding: 10px 0px 10px 0px;
  margin: 0%;
}

