.holap{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    background: #000;
    height: 50em;
    width: 100%;
}

.imut{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: turquoise;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

img {
    width: 30em;
    margin: 0em 2em;
}

