/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #0a0a0ad5;
  padding: 1em ;
  margin-top: 1em ;
  color: white;
}

footer h3 {
   display: flex;
  justify-content: flex-start;
  text-align: left;
  color: white;
  margin: 0px 0px 10px 0px
}

.networks {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}

.eachnetwork {
  margin: 0px 0px 0px 10px
}

section .rowalign {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0%;
}


footer h4 {
  text-align: left;
  margin-top: 1em;
}

.rowalign a {
  width: 100%;
  font-size: 1em;
  line-height: 1.7em;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: white;
}

.copyrigth {
  font-size: 70%;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}


@media only screen and (min-width: 768px) {

footer{
  margin-bottom: 0em;
  padding: 1em 0em 0.5em 0em;
}

  footer h3, h4{
    display: flex;
    justify-content: center;
    text-align: left;
    color: white;
    margin: 0px 0px 10px 0px
  }
 
  .networks {
    flex-direction: row;
    justify-content: center;
    margin: 0% 5% 0% 5%;
  }

  .rowalign {
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    margin: 0em 0% 0% 0%;
  }

  .copyrigth{
    justify-content: center;
  }
}