/* NAV */
nav {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    align-items: center;
    height: 15%;

}

.navdiv {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.navdiv img {
    width: 80px;
    margin-left: 50px;
}

.links {}

.links a {
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 0 0.3em 0 0.3em;
}

.link:hover {
    color: rgb(184, 184, 184);
    text-decoration: none;
    transition: .1s;
}

.search {
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}

.icon {}

.icon input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 18px;
    color: rgba(199, 199, 199, 0.829);
    background-color: rgba(0, 0, 0, 0.452);
    background-image: url('/Assets/Icons/search-black-18dp.svg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

input[type=text]:focus {
    
    background-position: 10px 10px;
    transition: 0.4s ease-in-out;
}

.profile {
    display: grid;
    grid-template-columns: 12% 40% 20%;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}

.search img {
    border-radius: 50%;
}

.search p {
    font-size: 15px;
    font-weight: 550;
    margin: 0px 0px 0px 20px;
}